/*--------------------------------------------------------*\
	Positioning
\*--------------------------------------------------------*/

$timing: cubic-bezier(0.190, 1.000, 0.220, 1.000);

@mixin v-center() {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

@mixin h-center() {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

@mixin center() {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

@mixin un-center() {
	position: relative;
	top: 0;
	left: 0;
	transform: translate(0,0);
}

@mixin bg-center() {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

@mixin clearfix {
	&::after {
		content: '';
		display: block;
		clear: both;
	}
}

@mixin cover {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
}

.cover {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
}

/*--------------------------------------------------------*\
	Column Based Widths
\*--------------------------------------------------------*/

@function width($columns, $margin) {
	$width: 100% / $columns;
	$margin: $margin * (($columns - 1) / $columns);
	@return calc(#{$width} - #{$margin});
}

/*--------------------------------------------------------*\
	Flexbox
\*--------------------------------------------------------*/

@mixin flex($shrink, $grow, $basis) {
	flex-shrink: $shrink;
	flex-grow: $grow;
	flex-basis: $basis;
}

/*--------------------------------------------------------*\
	Media Query Mixin
\*--------------------------------------------------------*/
@function em($pixels) {
	@return #{$pixels / 16}em;
}

@mixin m($width, $widthEnd: false) {
	@if ($widthEnd == false) {
		@if ( $width > 200 ) {
			@media (max-width: em($width)) {
				@content;
			}
		} @else {
			@media (max-width: #{$width}em) {
				@content;
			}
		}
	} @else {
		@if ( $width > 200 ) {
			@media (max-width: em($width)) and (min-width: em($widthEnd)) {
				@content;
			}
		} @else {
			@media (max-width: #{$width}em) and (min-width: #{$width}em) {
				@content;
			}
		}	
	}
}