/*--------------------------------------------------------*\
	Banners
\*--------------------------------------------------------*/
.block--banner {
	padding: 0;
	position: realtive;
	height: 35rem;
	width: 100%;
	
	.banner__slider {

	}
	.banner__item {

	}
	.banner__content {
		
	}
}

// Remove Line Breaks on mobile
@include m(480) {
	.banner__item br {
		content: "";
		&:after {
			content: "\00a0";
		}
	}
}