/*--------------------------------------------------------*\
	Block
\*--------------------------------------------------------*/
.block {
	padding: 5rem 0;
	@include m(768) {
		padding: 3.5rem 0;
	}
	@include m(400) {
		padding: 3rem 0;
	}

	&__container {
		width: 100%;
		max-width: 74rem;
		margin: 0 auto;
		padding: 0 5rem;
		position: relative;
		z-index: 2;
		@include m(1120) {
			padding: 0 4rem;
		}
		@include m(1024) {
			padding: 0 3.5rem;
		}
		@include m(896) {
			padding: 0 3rem;
		}
		@include m(768) {
			padding: 0 2.5rem;
		}
		@include m(640) {
			padding: 0 2rem;
		}
		@include m(480) {
			padding: 0 1.5rem;
		}
		@include m(400) {
			padding: 0 1.25rem;
		}
	}
}