/*--------------------------------------------------------*\
	Block
\*--------------------------------------------------------*/
.block {
	padding: 5rem 0;
	@include m(768) {
		padding: 3.5rem 0;
	}
	@include m(400) {
		padding: 3rem 0;
	}
}

.block__container {
	width: 100%;
	max-width: 80rem;
	margin: 0 auto;
	padding: 0 5rem;
	position: relative;
	z-index: 2;

	//border: 1px solid;
	
	@include m(1120) {
		padding: 0 4rem;
	}
	@include m(1024) {
		padding: 0 3.5rem;
	}
	@include m(896) {
		padding: 0 3rem;
	}
	@include m(768) {
		padding: 0 2.5rem;
	}
	@include m(640) {
		padding: 0 2rem;
	}
	@include m(480) {
		padding: 0 1.5rem;
	}
	@include m(400) {
		padding: 0 1.25rem;
	}

	&--full {
		max-width: 100%;
		padding: 0;
	}

	&--large {
		max-width: 100%;
		padding: 0 3.5rem;
	}
	&--small {
		padding: 0 7rem;
		.content {
			max-width: 70rem;
		}
	}
}
