section.contact {
	@include sec(#fff);
	section.contact-inner {
		@include sub-sec;
	}
}

.contact-ctn {
	@include span-columns(24,24);
}

.contact-map {
	@include span-columns(12,24);
	@include at-breakpoint($at-1024) {
		@include span-columns(24,24);
		margin-bottom: 3.75rem;
		img {
			margin: 0 auto;
		}
	}
}

.contact-info {
	@include span-columns(12 omega,24);
	padding-left: 3.75rem;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	@include at-breakpoint($at-1024) {
		@include span-columns(24,24);
		padding-left: 0;
	}
	@include at-breakpoint($at-960) {
		@include span-columns(14,24);
		@include squish(5,5);
	}
	@include at-breakpoint($at-848) {
		@include span-columns(18,24);
		@include squish(3,3);
	}
	@include at-breakpoint($at-640) {
		@include span-columns(22,24);
		@include squish(1,1);
	}
	@include at-breakpoint($at-540) {
		flex-flow: column;
		align-items: center;
	}
}

.each-info {
	width: 11rem;
	text-align: center;
	margin-bottom: 2.5rem;
	@include at-breakpoint($at-1024) {
		width: 12rem;
	}
	img {
		margin: 0 auto;
		margin-bottom: 1rem;
	}
}

h4.contact-title {
	color: $brown;
	margin-bottom: 1rem;
}

.contact-content {
	font: 0.9rem/1.375 $fr-rg;
	color: $blue;
	a {
		color: $green;
		&:hover {
			color: lighten($green, 10%);
		}
	}
}