/*--------------------------------------------------------*\
   Footer - Top
\*--------------------------------------------------------*/

footer.footer {
	@include sec($dk-bl);
	padding-bottom: 0;
	font: 0.9rem/1.375 $fr-rg;
	color: #fff;
	@include at-breakpoint($at-768) {
		font-size: 0.8rem;
	}
	.footer-inner {
		@include sub-sec;
		padding-bottom: 3.75rem;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: flex-start;
		h5 {
			margin-bottom: 1rem;
			color: #fff;
			font-size: 0.9rem;
			line-height: 1.375;
		}
		a {
			color: #fff;
			&:hover {
				color: $green;
			}
		}
	}
}


.ftr-logo-ctn {
	margin-bottom: 2rem;
	&:last-child {
		margin: 0;
	}
}

.each-ftr-contact {
	position: relative;
	margin-bottom: 0.25rem;
}

.each-ftr-contact::before {
	position: absolute;
	left: -1.5rem;
}

.address-ic::before {
	content: url(../../img/ftr-icons/pin.png);
}
.phone-ic::before {
	content: url(../../img/ftr-icons/phone.png);
}
.email-ic::before {
	content: url(../../img/ftr-icons/email.png);
}
.url-ic::before {
	content: url(../../img/ftr-icons/globe.png);
}

.ftr-list li {
	margin-bottom: 0.25rem;
}

.ftr-connect {
	width: 35%;
}

.email-sub-form {
	width: 100%;
	margin-top: 1rem;
	.email-input {
		border: none;
		background: $blue;
		border-radius: 0.375rem;
		font: 1.25rem/1.5 $fr-rg;
		outline: none;
		color: #fff;
		padding-left: 0.5rem;
	}
}

/*--------------------------------------------------------*\
   Footer - Bottom
\*--------------------------------------------------------*/

.ftr-btm {
	@include sec(#000);
	padding: 1rem 0;
	.ftr-btm-inner {
		@include sub-sec;
	}
}

.copyright {
	@include span-columns(16,24);
}






