header.header {
	@include span-columns(24,24);
	position: relative;
	.header-inner {
		@include span-columns(20,24);
		@include squish(2,2);
	}
}

figure.logo {
	@include pre(2);
	position: absolute;
	z-index: 100;
	background: #fff;
	padding: 1rem 2rem;
	box-shadow: 0 0 0.75rem #333;
	left: 0;
	top: 0;
	@include at-breakpoint($at-1024) {
		width: 12rem;
	}
	img.words {
		padding: 1rem;
		background: #fff;
		box-shadow: 0 0 15px #333;
		@include transition(all 0.35s ease-in);
		@include at-breakpoint($at-640) {
			padding: 0.75rem;
		}
	}
	img.tree {
		display: none;
		width: 84px;
		padding: 5px 0;
		height: auto;
		@include at-breakpoint($at-896) {
			display: none !important;
		}
	}
}

.u-nav-ctn {
	@include span-columns(24,24);
	background: #fff;
	box-shadow: 0 0 12px #333;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	@include at-breakpoint($at-896) {
		position: relative;
	}
	nav.u-nav {
		@include span-columns(20,24);
		@include squish(2,2);
		padding: 0.75rem 0;
		@include at-breakpoint($at-896) {
			display: none;
		}
	}
}

nav.u-nav ul {
	display: -webkit-box; 
	flex-flow: row wrap;
	justify-content: flex-end;
	@include at-breakpoint($at-896) {
		display: none;
	}
	li {
		border-right: 1px solid #000;
		padding: 0 0.75rem;
		font: 0.8rem/1rem $fr-rg;
		&:last-child {
			border: none;
			padding-right: 0;
		}
		@include at-breakpoint($at-1024) {
			font-size: 0.7rem;
		}
		a {
			color: #000;
			text-transform: uppercase;
			&:hover {
				color: $green;
			}
		}
	}
}




