/*--------------------------------------------------------*\
   Main Page
\*--------------------------------------------------------*/

section.main {
	@include sec(#fff);
	section.main-inner {
		@include sub-sec;
	}
}

/*--------------------------------------------------------*\
   Staff
\*--------------------------------------------------------*/

section.staff {
	@include sec(#fff);
	padding-top: 0;
	section.staff-inner {
		@include sub-sec;
	}
}

.staff-ctn {
	@include span-columns(24,24);
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	@include at-breakpoint($at-768) {
		display: inline;
	}
}

.each-staff {
	width: 14rem;
	@include at-breakpoint($at-848) {
		padding: 0.5rem;
		width: 12rem;
	}
	@include at-breakpoint($at-768) {
		@include span-columns(24,24);
	}
	@include at-breakpoint($at-560) {
		margin-bottom: 2rem;
	}
}

.staff-img-hldr, .staff-info-hldr {
	@include span-columns(24,24);
}

.staff-img-hldr {
	@include at-breakpoint($at-768) {
		@include span-columns(8,24);
	}
	@include at-breakpoint($at-560) {
		@include span-columns(24,24);
		img {
			margin: 0 auto;
		}
	}
}

.staff-info-hldr {
	margin-top: 1rem;
	@include at-breakpoint($at-768) {
		@include span-columns(16 omega,24);
		padding-left: 1.5rem;
		margin-top: 0;
	}
	@include at-breakpoint($at-560) {
		@include span-columns(24,24);
		margin-top: 1rem;
		padding-left: 0;
	}
}

.staff-name {
	text-align: center;
	margin-bottom: 1rem;
	@include at-breakpoint($at-768) {
		text-align: left;
	}
	@include at-breakpoint($at-560) {
		text-align: center;
	}
}

.staff-content {
	@include span-columns(24,24);
	font: 0.9rem/1.375 $fr-lt;
	color: $brown;
}



/*--------------------------------------------------------*\
   Information
\*--------------------------------------------------------*/

section.information {
	@include sec(#fff);
	padding-top: 0;
	section.information-inner {
		@include sub-sec;
	}
}

section.info-1 {
	@include span-columns(11,24);
	@include post(1);
	font: 0.9rem/1.375 $fr-rg;
	@include at-breakpoint($at-768) {
		@include post(0);
		@include span-columns(24,24);
		margin-bottom: 2.5rem;
	}
}

.info-content-1 {
	@include span-columns(24,24);
	ul {
		list-style: disc;
		list-style-position: outside;
		margin-top: 2.5rem;
		margin-left: 3.75rem;
		li {
			margin-bottom: 0.25rem;
		}
	}
}

section.info-2 {
	@include span-columns(11 omega,24);
	@include pre(1);
	font: 1.15rem/1.375 $fr-rg;
	@include at-breakpoint($at-768) {
		@include pre(0);
		@include span-columns(24,24);
	}
}

.info-content-2 {
	@include span-columns(24,24);
	background: $green;
	padding: 1.5rem;
	color: #fff;
	border-radius: 0.25rem;
}


/*--------------------------------------------------------*\
   Services
\*--------------------------------------------------------*/

section.services {
	@include sec($sand);
	section.services-inner {
		@include sub-sec;
	}
}

.services-ctn {
	@include span-columns(24,24);
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: flex-start;
}

.each-service {
	width: 14rem;
	position: relative;
	margin-bottom: 2.5rem;
}

.service-title-hldr {
	@include span-columns(24,24);
	height: 3.5rem;
	background: $green;
	position: relative;
	border-radius: 0.25rem;
	cursor: pointer;
	z-index: 1;
	@include transition(all 0.25s ease-in);
	&:hover {
		background: lighten($green, 5%);
	}
}

h4.service-title {
	font-size: 0.95rem;
	color: #fff;
	text-align: center;
	padding: 0 0.5rem;
	@include center;
}

.service-content {
	@include span-columns(24,24);
	background: #fff;
	padding: 0.75rem;
	font: 0.9rem/1.25 $fr-lt;
	position: absolute;
	border: 1px solid #ccc;
	border-radius: 0.25rem;
	top: 100%;
	left: 0;
	z-index: 10;
	display: none;
}





