#sidr {
    display: none;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 999999;
    width: 16em;
    overflow-x: none;
    overflow-y: auto;
    background: $blue;
    &.right {
        right: -16em;
        left: auto;
    }
    .sidr-inner {
        padding: 1em;
    }
    a.close-sidr {
        position: absolute;
        right: 2em;
        top: 1em;
    }
    h3 {
        font: 1.25em/1.25 $fr-rg;
        color: #fff;
        border-bottom: 1px solid #777;
        padding-bottom: 0.5em;
        color: #fff;
    }
    ul {
    	font: normal 14px/21px $fr-rg;
        display: block;
        padding-top: 0.5em;
        li {
            display: block;
            margin-bottom: 0.5em;
            a {
                display: block;
                text-decoration: none;
                color: #fff;
                &:hover {
                    color: $orange;
                }
                &:focus {
                    color: $orange;
                }
            }
        }
    }
}

#sidr #menu-universal-navigation-1 {
    padding-top: 0;
}

#press {
   display: none;
    @include at-breakpoint($at-896) {
        display: inline-block;
        position: relative;
        img {
            width: 1.75em;
            height: auto;
        }
    }
}

.sidr-btn-ctn {
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 9999999;
    @include at-breakpoint($at-480) {
        right: 0.5em;
        top: 0.5em;
    }
    @include at-breakpoint($at-320) {
        right: 0.25em;
        top: 0.25em;
    }
}

$transition-duration: .5s;

$size : 100%;
$toggled-size : .75;

$bodybg : #449a88;
$navbg : #2a2a2a;
$pagebg : #efefef;

.navicon-btn {
    display: inline-block;
    position: relative;
    padding: 2.0625rem 1.5rem;
    @include transition($transition-duration/2);
    cursor: pointer;
    user-select: none;
    opacity: .8;
    .navicon:before, .navicon:after {
        @include transition($transition-duration/2);
    }
    &:hover {
        @include transition($transition-duration);
        opacity: 1;
        .navicon:before, .navicon:after {
            @include transition($transition-duration/2);
        }
        .navicon:after { 
            top: -0.825rem; 
        }
        .navicon:before { 
            top: 0.825rem; 
        }
    }
}

.navicon {
    position: relative;
    width: 2.5em;
    height: .3125rem;
    background: $pagebg;
    @include transition($transition-duration);
    border-radius: 2.5rem;
    &:after, &:before {
        display: block;
        content: "";
        height: .3125rem;
        width: 2.5rem;
        background: $pagebg;
        position: absolute;
        z-index: -1;
        @include transition($transition-duration ($transition-duration/2));
        border-radius: 1rem;
    }
    &:after { 
        top: -0.625rem; 
    }
    &:before { 
        top: 0.625rem; 
    }
}

.open:not(.steps) .navicon:before,
.open:not(.steps) .navicon:after {
  top: 0 !important;
}

.open .navicon:before,
.open .navicon:after {
    @include transition($transition-duration);
}

.open.x {
    .navicon {
        background: transparent;
        &:after { 
            @include transform(rotate(45deg)); 
        }  
        &:before { 
            @include transform(rotate(-45deg)); 
        }  
    }
}
