.social-ctn {
	@include span-columns(24,24);
	ul {
		@include span-columns(24,24);
		li {
			display: inline-block;
			margin-right: 0.25em;
			&:last-child {
				margin-right: 0;
			}
			a:hover svg path {
				fill: $orange;
			}
		}
	}
	svg {
		width: 24px;
		height: 24px;
		path {
			fill: $green;
		}
	}
}

.ftr-btm-inner .social-ctn {
	@include span-columns(8 omega,24);
	@include at-breakpoint($at-640) {
		@include span-columns(24,24);
		margin-top: 1em;
	}
	ul {
		text-align: right;
		@include at-breakpoint($at-640) {
			text-align: left;
		}
		li {
			margin-right: 0.5em;
			&:last-child {
				margin-right: 0;
			}
		}
	}
	svg path {
		fill: #fff;
	}
}

