/*--------------------------------------------------------*\
   Universals
\*--------------------------------------------------------*/

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

html {
	font-size: 16px;
}

a {
	transition: all 0.25s ease-in;
	text-decoration: none;
}

.wrapper {
	@include container;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

.ctn {
	@include container;
	@include set-container-width(24, fluid);
	display: block;
	margin: 0 auto;
	position: relative;
	max-width: 70rem;
	padding: 0 3rem;
}

/*--------------------------------------------------------*\
   Colors
\*--------------------------------------------------------*/



/*--------------------------------------------------------*\
   Fonts
\*--------------------------------------------------------*/

html {
	font-size: 16px;
}


@mixin x-lt($size, $line-height, $style: normal) {
	font-family: 'Gotham SSm A', 'Gotham SSm B';
	font-weight: 200;
	font-size: $size;
	line-height: $line-height;
	@if ($style == italic) {
		font-style: italic;
	} @else {
		font-style: normal;
	}
}

@mixin lt($size, $line-height, $style: normal) {
	font-family: 'Gotham SSm A', 'Gotham SSm B';
	font-weight: 300;
	font-size: $size;
	line-height: $line-height;
	@if ($style == italic) {
		font-style: italic;
	} @else {
		font-style: normal;
	}
}

@mixin rg($size, $line-height, $style: normal) {
	font-family: 'Gotham SSm A', 'Gotham SSm B';
	font-weight: 400;
	font-size: $size;
	line-height: $line-height;
	@if ($style == italic) {
		font-style: italic;
	} @else {
		font-style: normal;
	}
}

@mixin md($size, $line-height, $style: normal) {
	font-family: 'Gotham SSm A', 'Gotham SSm B';
	font-weight: 500;
	font-size: $size;
	line-height: $line-height;
	@if ($style == italic) {
		font-style: italic;
	} @else {
		font-style: normal;
	}
}

@mixin bd($size, $line-height, $style: normal) {
	font-family: 'Gotham SSm A', 'Gotham SSm B';
	font-weight: 700;
	font-size: $size;
	line-height: $line-height;
	@if ($style == italic) {
		font-style: italic;
	} @else {
		font-style: normal;
	}
}

/*--------------------------------------------------------*\
   Positioning
\*--------------------------------------------------------*/

@mixin v-center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

@mixin h-center {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

@mixin center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

/*--------------------------------------------------------*\
	Other
\*--------------------------------------------------------*/