/*--------------------------------------------------------*\
   Susy // Breakpoint
\*--------------------------------------------------------*/

// $susy: (
// 	columns: 24,
// 	gutters: 0.25,
// 	gutter-position: after,
// 	// debug: (
// 	// 	image: show,
// 	// 	color: rgba(#336699, .25),
// 	// 	output: background,
// 	// 	toggle: top right,
// 	// ),
// );

// $at-1200: max-width 75em;
// $at-1168: max-width 73em;
// $at-1072: max-width 67em;
// $at-1056: max-width 66em;
// $at-1024: max-width 64em;
// $at-976:  max-width 61em;
// $at-960:  max-width 60em;
// $at-896:  max-width 56em;
// $at-848:  max-width 53em;
// $at-768:  max-width 48em;
// $at-720:  max-width 45em;
// $at-684:  max-width 43em;
// $at-640:  max-width 40em;
// $at-608:  max-width 38em;
// $at-560:  max-width 35em;
// $at-540:  max-width 34em;
// $at-480:  max-width 30em;
// $at-400:  max-width 25em;
// $at-320:  max-width 20em;

$total-columns  : 24;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : 0;

$container-style: fluid;

$at-1200: 24 75em;
$at-1168: 24 73em;
$at-1056: 24 66em;
$at-1024: 24 64em;
$at-976:  24 61em;
$at-960:  24 60em;
$at-896:  24 56em;
$at-848:  24 53em;
$at-768:  24 48em;
$at-720:  24 45em;
$at-684:  24 43em;
$at-640:  24 40em;
$at-608:  24 38em;
$at-560:  24 35em;
$at-540:  24 34em;
$at-480:  24 30em;
$at-400:  24 25em;
$at-320:  24 20em;