/*--------------------------------------------------------*\
	Susy // MQ
\*--------------------------------------------------------*/

$susy: (
	math: fluid,
	gutter-position: after,
	container: auto,
	container-position: center,
	columns: 24,
);

$mq-responsive: true;
$mq-breakpoints: (
    at-1216: 76em,
    at-1200: 75em,
    at-1168: 73em,
    at-1120: 70em,
    at-1072: 67em,
    at-1056: 66em,
    at-1024: 64em,
    at-976:  61em,
    at-960:  60em,
    at-896:  56em,
    at-864:  54em,
    at-848:  53em,
    at-816:  51em,
    at-800:  50em,
    at-768:  48em,
    at-720:  45em,
    at-684:  43em,
    at-640:  40em,
    at-608:  38em,
    at-560:  35em,
    at-540:  34em,
    at-480:  30em,
    at-440:  27.5em,
    at-400:  25em,
    at-320:  20em
);