/*--------------------------------------------------------*\
	Positioning
\*--------------------------------------------------------*/

$timing: cubic-bezier(0.190, 1.000, 0.220, 1.000);

@mixin v-center() {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

@mixin h-center() {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

@mixin center() {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

@mixin un-center() {
	position: relative;
	top: 0;
	left: 0;
	transform: translate(0,0);
}

@mixin bg-center() {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

/*--------------------------------------------------------*\
	Align with .ctn
\*--------------------------------------------------------*/

@mixin ctn-absolute($dir) {
	@if ($dir == left) {
		left: 5rem;
		@include at-breakpoint($at-896) {
			left: 4rem;
		}
		@include at-breakpoint($at-768) {
			left: 3.5rem;
		}
		@include at-breakpoint($at-720) {
			left: 3rem;
		}
		@include at-breakpoint($at-480) {
			left: 1.5rem;
		}
		@include at-breakpoint($at-320) {
			left: 1rem;
		}
	} @else {
		right: 5rem;
		@include at-breakpoint($at-896) {
			right: 4rem;
		}
		@include at-breakpoint($at-768) {
			right: 3.5rem;
		}
		@include at-breakpoint($at-720) {
			right: 3rem;
		}
		@include at-breakpoint($at-480) {
			right: 1.5rem;
		}
		@include at-breakpoint($at-320) {
			right: 1rem;
		}
	}
}