/*--------------------------------------------------------*\
   Positioning
\*--------------------------------------------------------*/

$timing: cubic-bezier(0.190, 1.000, 0.220, 1.000);

.v-center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.h-center {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.un-center {
	position: relative;
	top: 0;
	left: 0;
	transform: translate(0,0);
}

.bg-center {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

/*--------------------------------------------------------*\
	Align with .ctn
\*--------------------------------------------------------*/

@mixin ctn-absolute($dir) {
	@if ($dir == left) {
		left: 5rem;
		@include at-breakpoint($at-896) {
			left: 4rem;
		}
		@include at-breakpoint($at-768) {
			left: 3.5rem;
		}
		@include at-breakpoint($at-720) {
			left: 3rem;
		}
		@include at-breakpoint($at-480) {
			left: 1.5rem;
		}
		@include at-breakpoint($at-320) {
			left: 1rem;
		}
	} @else {
		right: 5rem;
		@include at-breakpoint($at-896) {
			right: 4rem;
		}
		@include at-breakpoint($at-768) {
			right: 3.5rem;
		}
		@include at-breakpoint($at-720) {
			right: 3rem;
		}
		@include at-breakpoint($at-480) {
			right: 1.5rem;
		}
		@include at-breakpoint($at-320) {
			right: 1rem;
		}
	}
}

/*--------------------------------------------------------*\
	Positioning and Triangles
\*--------------------------------------------------------*/

@mixin position($position, $args) {
	position: $position;
	$offsets: top right bottom left;
	@each $o in $offsets {
		$i: index($args, $o);

		@if $i and $i + 1 <= length($args) and type-of( nth($args, $i + 1) ) == number {
			#{$o}: nth($args, $i + 1);
		}
	}
}

@mixin absolute($args) {
	@include position(absolute, $args);
}

@mixin fixed($args) {
	@include position(fixed, $args);
}

// @mixin triangle($dir, $left, $right, $height, $position, $args, $color) {

// 	@include position($position, $args);
// 	display: block;
// 	width: 0;
// 	height: 0;
// 	content: '';
// 	border-color: transparent;
// 	border-style: solid;

// 	@if $dir == top or $dir == bottom {
// 		border-left-width:   $left;
// 		border-right-width:  $right;
// 	} 
// 	@else if $dir == right or $dir == left {
// 		border-bottom-width: $left;
// 		border-top-width:    $right;
// 	}

// 	@if $dir == top {
// 		border-bottom-width: $height;
// 		border-bottom-color: $color;
// 	} @elseif $dir == bottom {
// 		border-top-width: $height;
// 		border-top-color: $color;
// 	} @elseif $dir == left {
// 		border-right-width: $height;
// 		border-right-color: $color;
// 	} @elseif $dir == right {
// 		border-left-width: $height;
// 		border-left-color: $color;
// 	}

// }