/*--------------------------------------------------------*\
	Universals
\*--------------------------------------------------------*/

html {
	font-size: 16px;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

html, body, .wrapper { 
	height: 100%; 
}

*, *::before, *::after {
	box-sizing: inherit;
	-webkit-font-smoothing: inherit;
}

a {
	transition: all 0.75s $timing;
	text-decoration: none;
}

.wrapper {
	opacity: 0;
	transition: opacity 1s ease;
	&.clean-load {
		opacity: 1;
	}
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

.ctn {
	display: block;
	margin: 0 auto;
	position: relative;
	max-width: 74rem;
	padding: 0 5rem;
}