/*--------------------------------------------------------*\
	Block
\*--------------------------------------------------------*/

.block__header {
	@include span(24);
	margin-bottom: 2rem;
}

.block__main {
	@include span(24);
}

.block__title {
	@include span(24);
	@include lt(2.25rem, 1.25);
}

.block__subtitle {
	@include span(24);
	@include lt(1.375rem, 1.25);
}

.block__nav {
	@include span(24);
}

.cnt {
	@include span(20);
	@include lt(1rem, 1.5);
	p {
		margin-bottom: 1rem;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.btn {
	border: 1px solid #000;
	@include rg(1rem, 1);
	padding: 0.5rem 2.25rem;
	margin-right: 1.5rem;
	color: #000;
	&:last-child {
		margin-right: 0;
	}
}

/*--------------------------------------------------------*\
	Sort
\*--------------------------------------------------------*/

.block__sort {
	padding-top: 10rem;
}

#iso {
	@include span(24);
}

.iso__item {
	width: calc(25% - (1rem * 3/4));
	margin-bottom: 1rem;

	img {
		width: 100%;
		max-width: 100%;
		height: auto;
	}
}

/*--------------------------------------------------------*\
	Filter Nav -> Aside
\*--------------------------------------------------------*/

.iso__sidebar {
	position: fixed;
	left: 0;
	top: 0;
	width: 20rem;
	height: 100%;
	background: rgba(#000, 0.95);
	z-index: 9999;
	overflow: scroll;
	padding: 1.5rem;
	transform: translateX(-20rem);
	transition: transform 1s $timing;
	&.nav-visible {
		transform: translateX(0);
	}
	input[type="checkbox"] {
		display: none;
	}
}

.sidebar__group-title {
	@include span(24);
	color: #fff;
	@include rg(1.125rem, 1.25);
	margin-bottom: 0.75rem;
	border-bottom: 1px solid #fff;
	padding-bottom: 0.25rem;
}

.sidebar__filter-group {
	@include span(24);
	margin-bottom: 1rem;
}

.sidebar__filter {
	@include span(24);
	margin-bottom: 0.25rem;
	color: #fff;
	@include lt(0.9325rem, 1.5);
	label {
		@include span(24);
		padding-left: 1.5rem;
		position: relative;
		&::before {
			content: '';
			position: block;
			@include v-center;
			left: 0;
			width: 0.9325rem;
			height: 0.9325rem;
			border: 1px solid #fff;
			cursor: pointer;
		}
	}
}


input[type="checkbox"]:checked + label::before {
	background: #fff;
}

.reset-filters {
	height: 1.75rem;
	padding: 0 1.5rem;
	background-color: transparent;
	cursor: pointer;
	@include rg(0.875rem, 1.75);
	outline: none;
	color: #fff;
	border-color: #fff;
}