/*--------------------------------------------------------*\
	Block
\*--------------------------------------------------------*/

.block__header {
	@include span(24);
	margin-bottom: 2rem;
}

.block__main {
	@include span(24);
}

.block__title {
	@include span(24);
	@include lt(2.25rem, 1.25);
}

.block__subtitle {
	@include span(24);
	@include lt(1.375rem, 1.25);
}

.cnt {
	@include span(20);
	@include lt(1rem, 1.5);
	p {
		margin-bottom: 1rem;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.btn {
	border: 1px solid #000;
	@include rg(1rem, 1);
	padding: 0.5rem 2.25rem;
	margin-right: 1.5rem;
	color: #000;
	&:last-child {
		margin-right: 0;
	}
}