/*--------------------------------------------------------*\
	Content
\*--------------------------------------------------------*/

.block__content {
	@include span(24);
	padding: 5rem 0;
	&--with-sidebar {
		@include span(17);
	}
	
	// Text Align
	&--center {
		text-align: center;
	}
	&--left {
		text-align: left;
	}
	&--right {
		text-align: right;
	}
}

.block__sidebar {
	@include span(last 7);
	padding-left: 3rem;
}

/*--------------------------------------------------------*\
	Buttons
\*--------------------------------------------------------*/

.block__buttons {
	@include span(24);
	margin-top: 3.5rem;
}

/*--------------------------------------------------------*\
	Icons
\*--------------------------------------------------------*/

.block__icons {
	@include span(24);
	margin: 2.5rem 0;
}

@for $i from 1 through 6 {

	// Get Width
	$width: percentage( 1 / $i );

	// Apply Width Per Item
	.block__icons--#{$i} .icon__item {
		width: $width;
	}
}

.icon__item {
	display: inline-block;
	text-align: center;
}

.icon__container {
	display: block;
	position: relative;
	margin: 0 auto;
	width: 6.5rem;
	height: 6.5rem;
	margin-bottom: 0.5rem;
	border: 1px solid #000;
	border-radius: 50%;

	svg {
		@include center;
		width: 3.5rem;
		height: 3.5rem;
		path {
			fill: #000;
		}
	}
}
