/*--------------------------------------------------------*\
	Custom Dropdowns
\*--------------------------------------------------------*/

.dropdown {
	display: inline-block;
	margin-right: 1rem;
	position: relative;
	&:last-of-type {
		margin-right: 0;
		z-index: 1;
	}
	&:first-of-type {
		z-index: 10;
	}
	&:nth-of-type(2) {
		z-index: 5;
	}

}

.dropdown .iso__menu {
	position: relative;
	width: 13rem;
	margin-bottom: 0.5rem;
	display: block;
	@include lt(1rem, 1.25);
	text-transform: uppercase;
	text-align: left;
	> span {
		width: 100%;
		height: 2.5rem;
		line-height: 2.5rem;
		color: #333;
		background: #fff;
		display: block;
		position: relative;
		cursor: pointer;
		border: 1px solid #ddd;
		padding-left: 1rem;
		z-index: 5;
		transition: border 1s $timing;
		&:hover {
			border: 1px solid blue;
		}
	}
	li {
		position: absolute;
		left: 0;
		top: 0;
		display: block;
		width: 100%;
		height: 100%;
		z-index: 1;
		transition: all 1s $timing;
		background: #fff;
		line-height: 2.5rem;
		color: #333;
		cursor: pointer;
		padding-left: 1rem;
		border: 1px solid #ddd;
		border-top: 0;
		&:hover {
			background: blue;
			color: #fff;
		}
	}
}

.dropdown .iso__menu > span::after {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	content: '\e602';
	right: 0;
	@include v-center;
	width: 2.5rem;
	padding: 0.5rem;
	line-height: 2rem;
	color: #777;
}

.iso-no-results {
	@include span(16);
	@include squish(4);
	@include rg(1rem, 1.5);
	visibility: hidden;
	opacity: 0;
	&.notify {
		visibility: visible;
		opacity: 1;
	}
}