/*--------------------------------------------------------*\
	Mobile Menu Button
\*--------------------------------------------------------*/

.menu-button {
	display: none;
	@include mq($until: at-1024) {
		display: block;
		position: absolute;
		top: 0;
		@include ctn-absolute(right);
		z-index: 1000;
		width: 2.5rem;
		height: 2rem;
		text-indent: 2.5rem;
		color: transparent;
		background: transparent;
		cursor: pointer;
		padding: 0;
		border: 0;
		outline: none;
	}
}

.menu-button span,
.menu-button span::before,
.menu-button span::after {
	cursor: pointer;
	border-radius: 0.125rem;
	height: 0.25rem;
	width: 2.5rem;
	background: #fff;
	position: absolute;
	display: block;
	content: '';
	.fade-down & {
		background: $body;
	}
}

.menu-button span::before {
	top: -0.625rem;
}

.menu-button span::after {
	bottom: -0.625rem;
}

.menu-button:hover {
	opacity: 0.75;
}

/*--------------------------------------------------------*\
	Close Button
\*--------------------------------------------------------*/

.close-button {
	position: absolute;
	top: 1rem;
	right: 1rem;
	width: 1.5rem;
	height: 1.5rem;
	transform: rotate(45deg);
	cursor: pointer;
	&::before, &::after {
		content: '';
		position: absolute;
		background: #fff;
		width: 1.5rem;
		height: 1px;
		display: block;
	}
	&::before {
		transform: rotate(90deg);
		left: 0;
		top: 0.75rem;
	}
	&::after { 
		left: 0;
		top: 0.75rem;
	}
}

/*--------------------------------------------------------*\
	Menu Wrap
\*--------------------------------------------------------*/

.menu-wrap {
	position: fixed;
	z-index: 1001;
	width: 300px;
	height: 100%;
	background: #373a47;
	padding: 2.5rem 0;
	transform: translate3d(-320px,0,0);
	transition: transform 0.4s;
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.ie-9 .menu-wrap {
	display: none;
}

.ie9 .show-menu .menu-wrap {
	display: block;
}

.mobile-logo {
	padding: 0 2rem;
	margin: 1.5rem 0;
	path, polygon, rect {
		fill: #fff;
	}
}

.nav-m {
	height: 100%;
}

.nav-m li {
	display: block;
	@include rg(1rem, 1.5);
	text-transform: uppercase;
	a {
		padding: 0.5rem 0 0.5rem 2rem;
		display: block;
		color: #fff;
		&:hover {
			background: $blue-lt;
		}
	}
}

/*--------------------------------------------------------*\
	Menu Transitions
\*--------------------------------------------------------*/

.show-menu .menu-wrap {
	transform: translate3d(0,0,0);
	transition: transform 0.8s;
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}