/*--------------------------------------------------------*\
	Mobile Menu Button
\*--------------------------------------------------------*/

.menu-button {
	display: none;
	@include at-breakpoint($at-960) {
		display: block;
		position: absolute;
		top: 0;
		@include ctn-absolute(right);
		z-index: 1000;
		width: 2.5rem;
		height: 2rem;
		text-indent: 2.5rem;
		color: transparent;
		background: transparent;
		cursor: pointer;
		padding: 0;
		border: 0;
		outline: none;
	}
}

.menu-button span,
.menu-button span::before,
.menu-button span::after {
	cursor: pointer;
	border-radius: 0.125rem;
	height: 0.25rem;
	width: 2.5rem;
	background: $grey-dk;
	position: absolute;
	display: block;
	content: '';
	.scrolled & {
		background: $grey-dk;
	}
}

.header.header-white.scrolled {
	.menu-button span,
	.menu-button span::before,
	.menu-button span::after {
		background: #fff;
	}
}

.header.header-white {
	.menu-button span,
	.menu-button span::before,
	.menu-button span::after {
		background: #fff;
	}
}

.menu-button span::before {
	top: -0.625rem;
}

.menu-button span::after {
	bottom: -0.625rem;
}

.menu-button:hover {
	opacity: 0.75;
}

/*--------------------------------------------------------*\
	Close Button
\*--------------------------------------------------------*/

.close-button {
	width: 1em;
	height: 1em;
	position: absolute;
	right: 1em;
	top: 1em;
	overflow: hidden;
	text-indent: 1em;
	font-size: 0.75em;
	border: none;
	background: transparent;
	color: transparent;
}

.close-button::before,
.close-button::after {
	content: '';
	position: absolute;
	width: 3px;
	height: 100%;
	top: 0;
	left: 50%;
	background: #bdc3c7;
}

.close-button::before {
	transform: rotate(45deg);
}

.close-button::after {
	transform: rotate(-45deg);
}

/*--------------------------------------------------------*\
	Menu Wrap
\*--------------------------------------------------------*/

.menu-wrap {
	position: fixed;
	z-index: 1001;
	width: 300px;
	height: 100%;
	background: #373a47;
	padding: 2.5rem 0;
	transform: translate3d(-320px,0,0);
	transition: transform 0.4s;
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.ie-9 .menu-wrap {
	display: none;
}

.ie9 .show-menu .menu-wrap {
	display: block;
}

.nav-m, 
.nav-m ul {
	height: 100%;
}

.nav-m li {
	display: block;
	transform: translate3d(0,500px,0);
	@include md(1rem, 1.5);
	text-transform: uppercase;
	a {
		padding: 0.5rem 0 0.5rem 2rem;
		display: block;
		color: #fff;
		&:hover {
			background: $blue-lt;
		}
	}
}

.nav-m,
.nav-m li {
	transition: transform 0s 0.4s;
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.nav-m li:nth-child(2) {
	transform: translate3d(0,1000px,0);
}

.nav-m li:nth-child(3) {
	transform: translate3d(0,1500px,0);
}

.nav-m li:nth-child(4) {
	transform: translate3d(0,2000px,0);
}

.nav-m li:nth-child(5) {
	transform: translate3d(0,2500px,0);
}

.nav-m li:nth-child(6) {
	transform: translate3d(0,3000px,0);
}

.nav-m li:nth-child(7) {
	transform: translate3d(0,3000px,0);
}

/*--------------------------------------------------------*\
	Menu Transitions
\*--------------------------------------------------------*/

.show-menu .menu-wrap {
	transform: translate3d(0,0,0);
	transition: transform 0.8s;
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.show-menu .nav-m ul,
.show-menu .nav-m li {
	transform: translate3d(0,0,0);
	transition: transform 0.8s;
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.show-menu .nav-m li {
	transition-duration: 0.9s;
}

.show-menu .content::before {
	opacity: 1;
	transition: opacity 0.8s;
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transform: translate3d(0,0,0);
}