/*--------------------------------------------------------*\
	Header
\*--------------------------------------------------------*/
.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;

	&--scrolled {
		background-color: rgba($white, 0.85);
	}
}